.container {
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem;
    overflow: hidden;
}

.form_container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* margin: 2rem; */
    width: 100%;
}
 
.sets_reps_container {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
}

.item_container {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
}

label {
    color: #146C94;
}

.submit {
    border: none;
    background-color: #146C94;
    color: #F6F1F1;
    font-size: 1.25rem;
    cursor: pointer;
    margin: 1rem 0
}