.navbar {
    width: 100%; 
    max-width: 2100px; 
    margin: 0 auto; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #F6F1F1;
    max-height: 66px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #000000;
  }

.anchorlink {
    text-decoration: none;
    color: #F6F1F1;
}

.activeLink {
    color: #146C91;
}

.logoLink {
    display: inline-block; /* Ensures the link wraps around the image */
}

.navlink1 {
    text-decoration: none;
    color: #F6F1F1;
}

.navlink2 {
    text-decoration: none;
    color: #000000;
}

.logo {
    max-width: 96px;
    max-height: 66px;
    padding-top: 16px;
    padding-bottom: 16px;
    cursor: pointer;
}

.left{
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.right{
    display: flex;
    gap: 30px;
    align-items: center;
}

.navmenu {
    display: flex;
    gap: 15px;
    justify-content: center;
}

ul {
    list-style-type: none;
    margin: 0px;
}

.right li:nth-child(2) {
    background-color: #F6F1F1;
    width: 125px;
    height: 66px;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Hide the icons by default */
.navbar .navmobopen, .navbar .navbarclose {
    display: none;
}

/* Show the icons on smaller screens */
/* @media (max-width: 768px) {
    .navmobopen, .navbarclose {
        display: inline-block;
    }
} */