
.contactleft {
    display: flex;
    flex-direction: column;
    /* gap: 30px; */
}

.contactleft p:nth-child(1) {
    font-size: 26px;
    width: 100%;
    position: relative;
    text-align: center;
}

.contactleft p:nth-child(2) {
    max-width: 500px;
}

.contactdetails {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}

.contactdetail {
    display: flex;
    align-items: center;
    gap: 20px;
}