.cardContainer {
    display: flex;
    flex-direction: column;
    width: 100%; 
    max-width: 350px; 
    border: 3px solid #146C94;
    border-radius: 5px;
    justify-content: space-around;
    padding: 10px;
}

.title {
    font-size: 1.25rem; 
    color: #146C94;
    margin: 0;
}

.contentContainer {
    display: flex;
    gap: 5px;
    align-items: center;
}

.contentContainer p:nth-child(1) {
    font-size: 1.625rem; 
}

.description {
    margin: 0;
    opacity: 0.75; 
}

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
    .cardContainer {
        padding: 8px; 
    }

    .title {
        font-size: 1rem; 
    }

    .contentContainer p:nth-child(1) {
        font-size: 1.25rem; 
    }
}